﻿@model Web.Models.UserAccountViewModel

@{
    ViewData["Title"] = "Účet";
}

<h3>Účet</h3>
<br />

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Roles)
                    </dt>
                    <dd>
                        <div>
                            <ul>
                                @foreach (var role in Model.Roles)
                                {
                                    <li>
                                        @role.Name
                                    </li>
                                }
                            </ul>
                        </div>
                    </dd>
                </dl>

                <div>
                    <a class="btn btn-primary" role="button" asp-controller="Account" asp-action="ChangePassword">Změnit heslo</a>
                </div>

            </div>

        </div>
    </div>
</div>
